.wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  gap: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 60px;
  margin-bottom: 24px;
}
.textSocialsWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: flex-start;
  gap: 24px;
}
.text {
  color: #fff;
  font-size: 18px;
  line-height: 1.9;
  font-family: "Playfair Display", serif;
  text-align: left;
  width: 600px;
}

.photo2 {
  width: 420px;
  height: 320px;
  border-radius: 4px;
}
