.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 320px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 80px;
}

.btn {
  background-color: #889b82;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(107, 142, 35, 0.3);
}

.btn:hover,
.btn:focus {
  background-color: #b1bda2;
}

@media (min-width: 768px) {
  .modal {
    padding: 32px;
    border-radius: 8px;
  }
}
